body
{
    background-color: darkslategrey;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.icon
{
    width: 6vw;
    height: 6vw;
    margin: 2vw;
    animation: fadeIn 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.large
{
    font-size: 6vw;
}

.container-centred
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-rows
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.container-cols
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0vw;
    justify-content: center;
    align-items: center;
}

.titletext
{
    animation: fadeIn 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

.divider
{
    width: 0vw;
    animation: scaleIn 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes scaleIn {
    0% { width: 0vw; opacity: 0; }
    100% { width: 80vw; opacity: 1; }
}